@model ControleAssociadosModel
@{
    ViewData["Title"] = "Alteração de associado";
}

<div class="text-center">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />
    <h1 class="display-4">Alteração de associado  </h1>
</div>

<form asp-controller="Cadastro" asp-action="AlterarAssociado" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text"
               asp-for="Nome"
               class="form-control"
               maxlength="200"
               placeholder="Informe o nome do associado">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text"
               asp-for="Cpf"
               class="form-control"
               maxlength="11"
               placeholder="Informe apenas os numeros do CPF do associado">
        @Html.ValidationMessageFor(x => x.Cpf)
    </div>

    <div class="form-group">
        <label for="dtNascimento">Data de Nascimento</label>
        <input type="number"
               asp-for="Dt"
               class="form-control"
               maxlength="8"
               placeholder="Informe a data de nascimento do associado">
        @Html.ValidationMessageFor(x => x.Dt)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Cadastro" asp-action="Associado" role="button">Voltar</a>

    <br /><hr />

    <div class="text-center">
        <h1 class="display-4">Empresa(s) vinculada(s)</h1>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Cadastro" asp-action="Vincular">Vincular empresa</a>
    </div>

    <br />

    <table class="table">

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">CNPJ</th>
                <th scope="col"></th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-danger">Remover</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-danger">Remover</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-danger">Remover</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</form> 